{# End of HTML Page Content - Like Scripts #}

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/jquery.smooth-scroll.min.js"></script>
<script src="/assets/js/sweetalert.min.js"></script>
<script src="/assets/js/fontawesome.js"></script>
<!--[if lte IE 8]>
<script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.min.js"></script>

</body>
</html>