<div id="footer">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Contact -->
                <section class="contact">
                    <header>
                        <h3>Nisl turpis nascetur interdum?</h3>
                    </header>
                    <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor
                        aliquet.</p>
                    <ul class="icons">
                        <li><a href="#" class="icon fab fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fab fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fab fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fab fa-pinterest"><span class="label">Pinterest</span></a></li>
                        <li><a href="#" class="icon fab fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fab fa-linkedin"><span class="label">Linkedin</span></a></li>
                    </ul>
                </section>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; Sierra Morehardt & Tom Paulus under the <a
                                    href="https://github.com/tpaulus/speech-stitcher/blob/master/LICENSE"
                                    target="_blank">MIT License</a>.
                        </li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>